<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Orientação
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="background.html">Orientações gerais</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Artefatos FHIR
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="spec.html">Perfis e Extensões</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Suporte
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">
          FHIR Spec
          <img src="external.png" style="text-align: baseline" />
        </a>
      </li>
      <li>
        <a href="artifacts.html">Lista de artefatos</a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
