<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Guidance
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="general-guidance.html">General guidance</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      FHIR artifacts
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="profiles.html">Profiles and Extensions</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Support
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">
          FHIR Spec
          <img src="external.png" style="text-align: baseline" />
        </a>
      </li>
      <li>
        <a href="artifacts.html">List of artifacts</a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
